.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /*border: 1px solid #ddd;*/
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  max-width: 200px;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.product-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-image img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

h3 {
  font-size: 15px;
  margin-bottom: 8px;
  font-family: "Montserrat Medium";
}

p {
  font-size: 12px;
  margin-bottom: auto;
  font-family: "Avenir Book";
}

form {
      display: flex;
      justify-content: space-around;
      font-family: sans-serif;
      font-size: 1.2rem;
      margin: 1rem 2rem 0 2rem;
    }

    input[type="radio"] {
      appearance: none;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 2px solid #ccc;
      cursor: pointer;
      position: relative;
      transition: 0.1s ease;

    }

    input[type="radio"][value="yellow"] {
  border-color: #E6CA97;
  background-color: #E6CA97;
}

input[type="radio"][value="white"] {
  border-color: #D9D9D9;
  background-color: #D9D9D9;
}

input[type="radio"][value="rose"] {
  border-color: #E1A4A9;
  background-color: #E1A4A9;
}

    input[type="radio"]:checked {
      outline: 1px solid gray;
      outline-offset: 2px;
    }
    input[type="radio"]:hover{
      outline: 1px solid gray;
      outline-offset: 2px;
    }

    label {
        display: block;
        cursor: pointer;
        margin-top: 5px;
    }
.price{
  font-family: "Montserrat Regular";
  font-size: 15px;
}
@media (max-width: 768px) {
  .product-card {
    flex-basis: 100px;
    max-width: 120px;
  }
}
