.carouselWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
  padding: 1rem 0;
  box-sizing: border-box;
  margin: 3em 3em 0 3em;
}

.carouselContainer {
  display: flex;
  flex-flow:row ;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;  
  -ms-overflow-style: none;  
  padding: 1rem 1rem;
  width: 100%;
}

.carouselContainer::-webkit-scrollbar {
  display: none;  
}

.arrow {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
  color: #555;
  user-select: none;
  z-index: 1;
  transition: 0.3s ease;
  margin: 0px 1em 0px 1em;
}

.arrow:hover {
  color: #000;
  transform: scale(1.5);
}
@media (max-width: 768px) {
  .carouselWrapper{
    margin:3em 0em 0 0em;
    padding-left: 0%;
    padding-right: 0;
  }
  .arrow{
    margin: 0px ;

  }
}