:root {
  --bg: #d9d9d9;
  --text: #ffffff;
  --shadow: rgba(0, 0, 0, 0.1);
  --radius: 20px;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.filter-toggle-button {
  background-color: var(--bg);
  color: var(--text);
  border: none;
  padding: 0.6rem 1.4rem;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 600;
  font-size: 0.95rem;
  transition: background-color 0.3s ease;
  margin-bottom: 1em;
}

.filter-toggle-button:hover {
  background-color: #bfbfbf;
}

.filter-bar-container {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transform: scaleY(0.95);
  transform-origin: top;
  transition: height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  width: 100%;
  max-width: 800px;
}

.filter-bar-container.expanded {
  height: fit-content;
  opacity: 1;
  transform: scaleY(1);
}

.filter-bar {
  background-color: var(--bg);
  border-radius: var(--radius);
  box-shadow: 0 8px 20px var(--shadow);
  padding: 2rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  margin-bottom: 2rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-section h2 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.field-pair {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.field-pair label {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
}

.field-pair input[type="number"] {
  background-color: white;
  border: none;
  border-radius: 6px;
  padding: 0.2rem 0.5rem;
  font-size: 0.85rem;
  width: 80px;
  box-shadow: 0 1px 3px var(--shadow);
  transition: box-shadow 0.2s ease;
}

.field-pair input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.reset-button {
  padding: 0.6rem 1.5rem;
  background-color: #bfbfbf;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition:  0.3s ease;
  height: fit-content;
  color: white;
}

.reset-button:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column;
    align-items: center;
  }

  .filter-section {
    width: 100%;
    max-width: 400px;
  }
  .reset-container {
  margin-top: 0;
}
}
