.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Avenir Book */
@font-face {
  font-family: 'Avenir Book';
  src: url('../public/Fonts/avenir/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat Regular */
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../public/Fonts/montserat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Montserrat Medium */
@font-face {
  font-family: 'Montserrat Medium';
  src: url('../public/Fonts/montserat/Montserrat-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.Pagetitle{
  font-family: "Avenir Book";
  font-size: 45px;
}